@font-face {
    font-family: 'seira-condensed';
    src: url('police/SairaCondensed-Regular.ttf') format('truetype');
}
body{
    overflow:hidden;
    height:100%;
}
#particles-js{
    width:100%;
    height:100%;
    background-color: #000;
    position:absolute;
    z-index:-1;
}
#overlay {
    display:none;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 50; 
}
.boutons{
    padding: 20px;
    gap: 10px;
    display: flex;
    justify-content: flex-end;
    background:none;
}
.boutons button{
    border-radius: 19px;
    border: none;
    background-color:#2C2C2C;
    height:55px;;
    width:150px;
    background-position: center;
    color:white;
    text-shadow: 2px 2px 2px #000;
    -webkit-text-stroke: 0.2px #000;
    font-family: "seira-condensed", sans-serif;
    font-size:28px;;
}
#login-container{
    position: fixed; 
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width:100%;
}
.logoAcceuil{
    display: flex;
    justify-content: center;
    align-items: center;     
}
.close {
    border: none;
    background: transparent;
    color: rgb(78, 78, 78); 
    font-size: 1.5em;
    position:absolute;
    right:0%;
    top:0%;
}

.loginTitle{
    color:grey;
    text-align: center;
    position:relative;
    bottom:5%;
}
.infos{
    background-color:#0e0d0d;
    border-radius:20px;
    box-shadow:none;
    border:0px solid black;
    color:rgb(150, 147, 147);
}
.inputLogin{
    position:relative;
    left:20%;
}
.inputLogin label{
    position:relative;
    left:15%;
}

.forgot{
    position:absolute;
    left:6%;
    top:115%;
    
}
.remember{
    color:rgb(150, 147, 147);
    position:absolute;
    left:30%;
    top:65%
}
.divSubmitLogin{
    width:50%;
}
.loginButton{
    position:absolute;
    left:40%;
    top:80%;
   
}

.FormItems{
    justify-content: center;
}
.signUpTop span{
    position:relative;
    left:50px;
    top:-10px;
    font-family: "seira-condensed", sans-serif;
    font-size:50px;
}

.homeBody{
    background-color:black;
}
.Maindiv {
    width: 90.94%;
    height: 93.7%;
    position: absolute;
    left: 6.98%; 
    top: 2.69%; 
    background: #222020;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 1px solid black;
}

.Navmenu {
    width: 5.21%; 
    height: 93.7%; 
    position: absolute;
    left: 0.99%; 
    top: 2.69%;
    background: #222020;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-position: center;
}

.Navmenu i{
    color:rgb(85, 84, 84);
    font-size:20px;

}

.Footbar {
    width: 86.98%; 
    height: 10.09%; 
    position: absolute;
    left: 9.01%; 
    top: 83.24%; 
    border-radius: 20px;
}

.Footlogo {
    width: 6.3%; 
    height: 8.43%; 
    position: absolute;
    left: 46.82%; 
    top: 85%; 
    
}

.Pfp {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 97.47%; 
  top: 1%; 
  border-radius: 50%;
}
.username{
  color:white;
  position:absolute;
  right:3%;
  top: 1%;
}

.Favori {
    width: 16.35%; 
    height: 43.33%; 
    position: absolute;
    left: 14.11%; 
    top: 19.17%; 
    background: #1B1919;
    border-radius: 20px;
}
.FavoriTitle{
    color:white;
    text-align:center;
    position:relative;
    top:8%;
    font-size: 140%;

}
.Linefavori{ 
    height: 0px; 
    border: 0.50px 
    #222020 solid;
    position:relative;
    top:13%
}
.upload{
    background-color:rgb(19, 18, 18);
    background-position: center;
    width: 39.94%; 
    height: 29.91%;
    position: absolute;
    left: 52.14%; 
    top:25%;
    border-radius:20px;
    display:flex;
    justify-content: space-around;
    border:rgb(58, 56, 56) 1px solid;
}
.options{
    width:100%;
    height:50%;
    position:absolute;
    bottom:0%;
    left:1.5%;
    display:flex;
}
.options div{
    width: 24.12%;
    height: 62.58%;
    background: #1B1919;
    box-shadow: 20px 20px 20px black;
    border-radius: 15px;
    position:relative;
    top:40%;
}
.uploadLien i{
    position:absolute;
    top:20%;
    font-size:500%;
    color:rgb(73, 73, 73);
    left: 45%;
}
.options i{
  font-size:300%;
  color:rgb(73, 73, 73);
  position:relative;
  left:35%;
  top:20%;
}
.Typeupload {
    width: 12.03%;
    height: 3.7%;
    left: 46.46%;
    top: 71.11%;
    position: absolute;
    background: #2B2929;
    border-radius: 15px;
  }
  
  .Statusupload {
    width: 12.03%;
    height: 3.7%;
    left: 46.46%;
    top: 70.78%;
    position: absolute;
    background: #2B2929;
    border-radius: 15px;
  }
  
  .Uploadmain {
    width: 74.69%;
    height: 33.43%;
    left: 15.16%;
    top: 6.76%;
    position: absolute;
    background: #2B2828;
    border-radius: 20px;
  }
  
  .Descriptionupload {
    width: 74.11%;
    height: 7.22%;
    left: 15.73%;
    top: 52.96%;
    position: absolute;
    background: #2B2929;
    border-radius: 15px;
  }
  
  .Categoryupload {
    width: 12.03%;
    height: 3.7%;
    left: 46.46%;
    top: 64.44%;
    position: absolute;
    background: #2B2929;
    border-radius: 15px;
  }
  
  .Titleupload {
    width: 24.53%;
    height: 6.76%;
    left: 40.21%;
    top: 43.24%;
    position: absolute;
    background: #2B2929;
    border-radius: 15px;
    font-size:40px;
  }
  
  .Submitupload {
    width: 11.56%;
    height: 5.93%;
    left: 46.65%;
    top: 78.57%;
    position: absolute;
    background: #2B2929;
    border-radius: 10px;
  }
  .submitUpload{
    width: 100%; 
    border: none; 
    background-color: transparent;
    outline: none; 
    padding: 10px; 
    font-size: 16px; 
    color:rgb(182, 182, 182);
    position:relative;
    top:12%;
  }
  .Uploadmain i{
    font-size:1000%;
    color:#1b1b1b;
    position:absolute;
    left:45%;
    top:20%;
  }
  .fileUpload{
    position:absolute;
    top:90%;
    left:46%;
  }
.descriptionUpload{
    width: 100%; 
    border: none; 
    background-color: transparent;
    outline: none; 
    padding: 10px; 
    font-size: 16px; 
    color:rgb(182, 182, 182);
}
.titleUpload{
    width: 100%; 
    border: none; 
    background-color: transparent;
    outline: none; 
    padding: 10px; 
    font-size: 16px; 
    color:rgb(182, 182, 182);
}
.categoryUpload{
    width: 100%; 
    border: none; 
    background-color: transparent;
    outline: none; 
    text-align:center;
    position:relative;
    top:17%;
    font-size: 16px; 
    color:rgb(182, 182, 182);

}

.Line4 {
    width: 36.88%; /* 708px / 1920px */
    height: 0;
    left: 60.1%; /* 1154px / 1920px */
    top: 35.93%; /* 388px / 1080px */
    position: absolute;
    border: 1px solid #797676;
  }
  
  .Ajouterplaylistdiv {
    width: 7.92%; /* 152px / 1920px */
    height: 15.46%; /* 167px / 1080px */
    left: 12.29%; /* 236px / 1920px */
    top: 11.2%; /* 121px / 1080px */
    position: absolute;
    background: #2B2929;
    border-radius: 10px;
  }
  
  .Ajouterpostdiv {
    width: 7.92%; /* 152px / 1920px */
    height: 16.39%; /* 177px / 1080px */
    left: 12.29%; /* 236px / 1920px */
    top: 39.91%; /* 431px / 1080px */
    position: absolute;
    background: #2B2929;
    border-radius: 10px;
  }
  .Line1 {
    width: 33.12%; /* 636px / 1920px */
    height: 0;
    left: 7.4%; /* 142px / 1920px */
    top: 6.3%; /* 68px / 1080px */
    position: absolute;
    border: 1px solid #797676;
  }
  
  .Line2 {
    width: 36.88%; /* 708px / 1920px */
    height: 0;
    left: 60.1%; /* 1154px / 1920px */
    top: 6.3%; /* 68px / 1080px */
    position: absolute;
    border: 1px solid #797676;
  }
  
  .Playlists {
    left: 46.2%; /* 887px / 1920px */
    top: 4.54%; /* 49px / 1080px */
    position: absolute;
    color: white;
    font-size: 30px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .Publications {
    left: 44.32%; /* 851px / 1920px */
    top: 34.26%; /* 370px / 1080px */
    position: absolute;
    color: white;
    font-size: 30px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .Line3 {
    width: 33.02%; /* 634px / 1920px */
    height: 0;
    left: 6.88%; /* 132px / 1920px */
    top: 35.93%; /* 388px / 1080px */
    position: absolute;
    border: 1px solid #797676;
  }
  
  .Rectangle2 {
    width: 6.04%; /* 116px / 1920px */
    height: 8.33%; /* 90px / 1080px */
    left: 13.23%; /* 254px / 1920px */
    top: 13.89%; /* 150px / 1080px */
    position: absolute;
    background: #343333;
    border: 1px solid #302E2E;
  }
  
  .Rectangle4 {
    width: 6.04%; /* 116px / 1920px */
    height: 8.33%; /* 90px / 1080px */
    left: 13.23%; /* 254px / 1920px */
    top: 13.52%; /* 146px / 1080px */
    position: absolute;
    background: #343333;
    border: 1px solid #302E2E;
  }
  
  .Rectangle3 {
    width: 6.04%; /* 116px / 1920px */
    height: 8.33%; /* 90px / 1080px */
    left: 13.23%; /* 254px / 1920px */
    top: 41.67%; /* 450px / 1080px */
    position: absolute;
    background: #343333;
    border: 1px solid #302E2E;
  }
  
  .Ajouterplaylist {
    left: 14.9%; /* 286px / 1920px */
    top: 24.07%; /* 260px / 1080px */
    position: absolute;
    color: white;
    font-size: 15px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .Ajoutercontenu {
    left: 14.9%; /* 286px / 1920px */
    top: 53.7%; /* 580px / 1080px */
    position: absolute;
    color: white;
    font-size: 15px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
  }
  .Plusplaylist {
    width: 6.04%; /* 116px / 1920px */
    height: 8.33%; /* 90px / 1080px */
    left: 13.23%; /* 254px / 1920px */
    top: 13.89%; /* 150px / 1080px */
    position: absolute;
    background: #343333;
    border: 1px solid #302E2E;
  }
  .Plusplaylist i{
    color:#797676;
    font-size:400%;
    position:relative;
    top:5%;
    left:20%;   
  }
  
  .Pluspost {
    width: 6.04%; /* 116px / 1920px */
    height: 8.33%; /* 90px / 1080px */
    left: 13.23%; /* 254px / 1920px */
    top: 41.67%; /* 450px / 1080px */
    position: absolute;
    background: #343333;
    border: 1px solid #302E2E;
  }
.Pluspost i{
    color:#797676;
    font-size:400%;
    position:relative;
    top:5%;
    left:20%;  
}
.post{
    width: 65.92%; /* 152px / 1920px */
    height: 100.46%; /* 167px / 1080px */
    border-radius: 0.5em;    
    background: #2B2929;
    margin-bottom:30%;
    max-height:200px;
}
.iconePost{
    width:80%;
    height:50%;
    background-color:black;
    position:relative;
    left:10%;   
    top:15%;
    background: #343333;
}

.iconePost i{
    font-size:400%;
    position:relative;
    left:3%;
    top:14%;
    color:#797676;
}
.postsDiv{
    height:50%;
    width:65%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    position:absolute;
    gap:3%;
    left:30%;
    top:40%;
    overflow:auto;
}
.postsDiv div {
    text-align: center;
}
.titlePostFromController{
    text-align:center;
    position:relative;
    top:19%;
    font-weight: bold;
    color:rgb(155, 155, 155);
    
}
.post button{
  background: none; 
    border: none; 
    padding: 0; 
    cursor: pointer; 
    color: inherit; 
}
.gif{
  position:absolute;
  left:25%;
  top:30%;
  border-radius:10px;

}
.postDetails {
  width: 25.44%; /* 642px sur un écran de 1920px de large */
  height: 50.25%; /* 446px sur un écran de 1080px de haut */
  background: #1B1919;
  border-radius: 20px;
  position:absolute;
  left:70%;
  top:20%;
}

.titlePost, .descriptionPost, .typePost, .statusPost, .categoryPost {
  width: 98.44%; /* 632px sur un parent de 642px de large */
  border-radius: 20px;
  border-bottom: 1px solid #222020;
}

.titlePost {
  height: 16.59%; 
}

.descriptionPost {
  height: 33.63%; 
}

.authorPost, .statusPost, .categoryPost {
  height: 16.59%;
}


.categoryPost {
  border-bottom: none;
}
.titlePost h1{
  color:#9e9d9d;
  text-align:center;
  padding-top:3%; 
  font-family: "seira-condensed";
  text-transform: uppercase;
}

.descriptionPost, .authorPost, .statusPost, .categoryPost{
  font-size:20px;
  color:#9e9d9d;
  text-align:center;
  padding-top:5%; 
  font-family: "seira-condensed";
}
.statusPost, .categoryPost{
  text-transform:uppercase;
}
.audioPostDiv{
  position:absolute;
  top:30%;
  left:30%;
  background: #1b1b1b;
  height:40%;
  width:20%;
  border-radius:20px;
  
  
}
.audioPost{
  position:relative;
  top:40%;
  left:7%;
}
.audioPostDiv i{
  position:relative;
  left:22%;
  top:20%;
  font-size:1000%;
}
.videoPost video{
  height:40%;
  width:40%;
  margin:0%;
}
.videoPost{
  position:absolute;
  top:25%;
  left:20%;
}
.lienFavoriPlay i{
  color:#9e9d9d;
  font-size:800%;
  position:absolute;
  left:36%;
  top:34%;
}